
* {
    padding: 0;
    margin: 0;
    background-color: black;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 900px;
}
.container {
    height: 300px;
    font-family: 'Monomaniac One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    color:aliceblue;
    font-size: 90px;
    position: absolute;
}

.container .greetings {
    z-index: 9999;
}
.container .cheering {
    z-index: 1;
}
.greetings .letter {

    display: inline-block;
    background: transparent;
}

.main__container {
    display: flex;
    justify-content: center;
    height: 300px;
}

.main__img, .battle__img{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    border-radius: 25px;
}

.weapons__container {
    position:absolute;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
@keyframes fade-in {
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}

.battle__container {
    position:absolute;
    justify-content: center;
    align-items: center;
    gap: 200px;
    display: none;
}



.result__container {
    display: none;
    flex-direction: column;
    height: 200px;
    margin: 20px;
    align-items: center;
    font-family: 'Monomaniac One', sans-serif;
    color: white;
}

.result__container h2 {
    font-size: 60px;
}
.result__container h3 {
    font-size: 50px;
}
.contenders__container{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 80px;
}

.points {
    display: flex;
    gap: 270px
}

.end__game {
    color: white;
    font-family: 'Monomaniac One', sans-serif;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end__message {
    font-size: 60px;
    margin-bottom: 50px;
}
.end__game a {
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    background-color:white;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.end__game a:hover{
    transform: scale(1.09);
    box-shadow: 0 0 25px white;
}